---
name: Spotify

on:
  schedule: [{cron: 0 */8 * * *}] 
  workflow_dispatch:
  push:
    paths-ignore:
      - 'README.md'

jobs:
  spotify-top-tracks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: TobiMichael96/spotify-top-tracks@main
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
      - name: Commit and push if changed
        run: |-
          git diff
          git config --global user.email "me@tobiasmichael.de"
          git config --global user.name "TM"
          git add -A
          git commit -m "Updated content" || exit 0
          git push
